{{- if .Values.persistence.alertmanager.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: alertmanager-data
  name: alertmanager-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.alertmanager.size }}
{{- end }}
